import(igraph)
import(network)
import(sna)
import(intergraph)
import(lattice)
export(iterateNetwork)
export(node2edgeAttr)
export(iterateComplete)
explor(iteratePaths)
export(inspectNetwork)
export(plotEstimates)